/*
COLOR PALETTE
#FFFFF0 - ivory
#000000 - black
#303030 - (custom) text file gray
#7FFF00 - (custom) terminal username green
#2f00ff - (custom) terminal path blue
#9077ff - (custom) nav link light blue
*/

/* Global syles
------------------------------*/
body {
    color: #fffff0;
    background-color: #000000;
}
img {
    width: 300px;
}
.text-file {
    background-color: #303030;
}
.terminal-usr {
    color: #7FFF00;
}
.terminal-path {
    color: #2f00ff;
}
a {
    color: #2f00ff;
}
a:hover {
    color: #9077ff;
}

/* Profile
------------------------------*/

/* Projects
------------------------------*/
.projects a {
    color: #F7FFF7;
    background: #2F3061;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
}
.projects a:hover {
    background: rgba(47, 48, 97, 80%)
}

/* Work Experience
------------------------------*/

/* Education
------------------------------*/

/* Contact info
------------------------------*/