.about-me {
  padding-bottom: 10px;
}
.about-img {
  width: 300px;
  border-radius: 5px;
}

/* For typing animation */
.typing-cd {
  --num-letters: 10;
  --blink-time: 4;
}
.typing-cat {
  --num-letters: 13;
  --blink-time: 4;
}

/* Responsive
------------------------------*/
@media screen and (min-width: 750px) {
  .about-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
  }
  .skill-icons {
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
    margin-left: -21px;
  }
  .skill-icons img {
    height: 40px;
  }
  .about-details {
    margin-top: -19px;
  }
}
@media screen and (max-width: 749px) {
  .skill-icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .skill-icons img {
    height: 30px;
  }
  .about-img {
    display: block;
    margin: auto;
    max-width: fit-content;
  }
}
