.about-me {
  padding-bottom: 10px;
}
.about-img {
  width: 265px;
}
.about-img img {
  border-radius: 5px;
}

/* Responsive
------------------------------*/
@media screen and (min-width: 750px) {
  .about-item {
    display: grid;
    grid-template-columns: 265px 1fr;
    column-gap: 20px;
  }
  .skill-icons {
    display: grid;
    grid-template-columns: repeat(5, auto);
    text-align: center;
    margin-left: -21px;
  }
  .skill-icons img {
    width: 40px !important;
  }
  .about-details {
    margin-top: -19px;
  }
}
@media screen and (max-width: 749px) {
  .skill-icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .skill-icons img {
    width: 30px !important;
  }
  .about-img {
    display: block;
    margin: auto;
    max-width: fit-content;
  }
}
