.education section {
  padding-bottom: 0.5rem;
}
.education h3,
.education p {
  margin: 0;
}
.education p {
  width: 85%;
}
.education ul {
  margin-top: 0.5rem;
}
.education-title {
  font-weight: bold;
}
.certs-bullet {
  padding-top: 1rem;
}
.degree-date {
  font-style: italic;
}

/* Responsive
------------------------------*/
@media screen and (max-width: 749px) {
  .education ul {
    padding-left: 1rem;
  }
}
