/*
COLOR PALETTE
#FFFFF0 - ivory
#000000 - black
#8B008B - dark magenta
#303030 - text file gray
#6F6FFF - nav link blue
#570057 - magenta link
*/

/* Global syles
------------------------------*/
:root {
  /* For typing animation */
  --blink-count: 2;
  --blink-speed: 0.5s;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  color: #fffff0;
  background-color: #000000;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
a {
  color: #6f6fff;
}
a:hover {
  color: #a9a9ff;
}
h2 {
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.page-footer {
  padding-top: 15px;
  padding-bottom: 15px;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
}
.terminal-code {
  font-family: monospace, monospace;
}
.terminal-usr {
  color: #8b008b;
}
.terminal-path {
  color: rgb(111, 111, 255);
}
.text-file {
  background-color: #303030;
  padding: 15px;
  border-radius: 5px;
}
.divider > section {
  overflow: hidden;
  border-bottom: 1px dashed #8b008b;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}

/* For staggering the typing animations */
.hidden {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: all 1s;
}

/* Typing animations */
.typing {
  position: relative;
}
.typing::before,
.typing::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.typing::before {
  background: black;
}
.typing::before {
  animation: typingAnim 0.25s steps(var(--num-letters)) 100ms forwards;
}
.typing::after {
  width: 15px;
  background: transparent;
}
.typing::after {
  animation: typingAnim 0.25s steps(var(--num-letters)) 100ms forwards,
    blinkingAnim var(--blink-speed) var(--blink-count);
}
@keyframes typingAnim {
  to {
    left: 100%;
  }
}
@keyframes blinkingAnim {
  50% {
    background: white;
  }
}

/* Accessibility
  ------------------------------*/
@media (prefers-reduced-motion: reduce) {
  .typing::before {
    background: none;
    animation: none;
  }
  .typing::after {
    animation: none;
  }
}

/* Responsive
  ------------------------------*/
@media screen and (max-width: 749px) {
  .typing-cat-line-break::after {
    content: "\A";
    white-space: pre;
  }
}
