img {
  width: 300px;
}
a {
  color: #2f00ff;
}
a:hover {
  color: #9077ff;
}
h2 {
  font-size: 30px;
  margin: 0;
  text-align: center;
}
.text-file {
  background-color: #303030;
  padding: 15px 15px;
}
.terminal-code {
  font-family: monospace, monospace;
}
.terminal-usr {
  color: #7fff00;
}
.terminal-path {
  color: #2f00ff;
}
.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
}
.divider > section {
  overflow: hidden;
  border-bottom: 1px dashed #8b008b;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
footer {
  margin-bottom: 25px;
}

/* About
------------------------------*/
.header {
  background: #8b008b;
  overflow: auto;
  padding: 60px 0;
  text-align: center;
  font-family: "Playfair Display", serif;
}
.header h1,
.header h2 {
  font-weight: 400;
  margin: 0;
}
.header h1 {
  font-size: 100px;
}
.header h2 {
  font-size: 45px;
}
.about-me {
  padding-bottom: 30px;
}
.about-details {
  margin-top: -15px;
}

/* Projects
------------------------------*/
.projects a {
  color: #f7fff7;
  background: #0004ff;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  display: flex;
  justify-content: center;
}
.projects a:hover {
  background: rgba(128, 130, 255, 0.8);
}
.projects h3 {
  margin: 0;
}

/* Education
------------------------------*/
.education h3,
.education p {
  margin: 0;
}
.education h3 + p {
  font-style: italic;
}
.education p {
  width: 85%;
}

/* Experience
------------------------------*/
.job-details h3,
.job-details p {
  margin: 0;
}
.experience h3 + p {
  font-style: italic;
}

/* Contact
------------------------------*/
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  color: #f7fff7;
  background: #0004ff;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  margin: 30px;
}
.contact-list a:hover {
  background: rgba(128, 130, 255, 0.8);
}

/* Responsive
------------------------------*/
@media screen and (min-width: 750px) {
  .about-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
  }
  .projects-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
  }
  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }
  .contact-list {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 749px) {
  .header h1 {
    font-size: 75px;
    line-height: 1;
    margin-bottom: 20px;
  }
  .header h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 85%;
    padding-bottom: 15px;
  }
  .about-me {
    padding-bottom: 15px;
  }
  .contact-list {
    text-align: center;
  }
  .contact-list a {
    margin: 15px;
  }
}
