.nav-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left;
}

/* Responsive
------------------------------*/
@media screen and (min-width: 750px) {
  .nav-links {
    line-height: 2;
  }
  .nav-links img {
    width: 30px !important;
  }
  .contact-links {
    margin-top: -0.75rem;
  }
  .gmail-name::before {
    content: "paulfischerdev@g";
  }
  .gmail-name::after {
    content: ".com";
  }
}
@media screen and (max-width: 749px) {
  h3 {
    font-size: 1rem;
  }
  .nav-links {
    font-size: 0.75rem;
    line-height: 2.5;
  }
  .nav-links img {
    width: 20px !important;
  }
  .contact-links {
    margin-top: -0.75rem;
  }
  .gmail-name::before {
    content: "G";
  }
}
