.contact-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  text-align: center;
}
a {
  color: #6f6fff;
}
footer {
  padding-top: 15px;
}

/* Typing animations */
.typing-ls {
  --num-letters: 2;
  --blink-time: 4;
}
.typing-footer {
  --num-letters: 1;
  --blink-time: infinite;
}

/* Responsive
------------------------------*/
@media screen and (min-width: 750px) {
  .contact-links {
    width: 550px;
  }
  .contact-links img {
    height: 40px;
  }
  .gmail-name::after {
    content: "paulfischerdev@gmail.com";
  }
  .education-link::after {
    content: "cation";
  }
  .experience-link::after {
    content: "erience";
  }
}
@media screen and (max-width: 749px) {
  .contact-links img {
    height: 30px;
  }
  .gmail-name::after {
    content: "Gmail";
  }
  h3 {
    font-size: 1rem;
  }
}
