.projects a {
  color: #f7fff7;
  background: #570057;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  display: flex;
  justify-content: center;
}
.projects a:hover {
  background: #8b008b;
}
.projects h3 {
  margin: 0;
}
.divider > section {
  overflow: hidden;
  border-bottom: 1px dashed #8b008b;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border-bottom: none;
}
.projects-item img {
  border-radius: 5px;
}

/* For typing animation */
.typing-cd {
  --num-letters: 13;
}
.typing-cat {
  --num-letters: 16;
}

/* Responsive
  ------------------------------*/
@media screen and (min-width: 750px) {
  .projects-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
  }
}
@media screen and (max-width: 749px) {
  .typing-cat-line-break::after {
    content: "\A";
    white-space: pre;
  }
  .projects-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 275px;
    padding-bottom: 15px;
  }
}
