.projects a {
  color: #f7fff7;
  background: #570057;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.projects a:hover {
  background: #8b008b;
}
.projects h3 {
  margin: 0;
}
.projects-item img {
  border-radius: 5px;
}
.projects-date {
  margin-top: 0;
  font-style: italic;
}
.projects-list {
  padding-left: 1rem;
}
.yt-video-title {
  text-align: center;
  margin-bottom: 0.5rem;
}
.yt-video {
  width: 300px;
  height: 200px;
  border: none;
}

/* Responsive
  ------------------------------*/
@media screen and (min-width: 750px) {
  .projects-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
  }
  .yt-video-title {
    margin-top: 3.8rem;
  }
}
@media screen and (max-width: 749px) {
  .projects-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 275px;
    padding-bottom: 15px;
  }
  .yt-video-title {
    margin-top: 0;
  }
  .yt-video {
    margin-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 275px;
  }
}
